singularity.enabled = true

process {
  module = 'singularity'
  executor = 'slurm'
  container = '/zstor/containers/singularity/mapping.img'
  queue = 'normal,control'
  clusterOptions = '--nice=300'
}

executor {
    name = 'slurm'
    queueSize = 50
}

params {
  pipeline_name = 'p-map-felCat9'
  sample_root_dir = "/zstor/pcg/2016-tiger-wgs/fastq-data/trimmed-fastqs"
  sampleIDs = ["GEN3","GEN11","BEN_SA5","BEN_CI15","BEN_CI18","BEN_SI8","BEN_SI7",
               "BEN_SI9","BEN_CI16","BEN_CI17","BEN_SA6","BEN_CI19","GEN22","GEN1",
               "GEN8","GEN2","GEN5","BEN_SI6","BEN_SI3","BEN_SA3","BEN_SI5",
               "BEN_SA4","BEN_SI1","BEN_NE1","BEN_SI4","BEN_NE2","BEN_NOR2",
               "BEN_NE3","BEN_NOR1","BEN_SA1","BEN_SA2","BEN_SI2","AMU9","AMU8",
               "AMU7","AMU5","AMU15","AMU18","AMU24","AMU1","AMU11","AMU23","AMU4",
               "AMU3","AMU12","AMU17","AMU2","AMU16","AMU20","AMU22","AMU21",
               "BEN_ZOO2","BEN_ZOO3","BEN_ZOO4","BEN_ZOO8","BEN_ZOO6","BEN_ZOO5",
               "BEN_ZOO1","BEN_SUN1","BEN_CI7","BEN_CI3","BEN_CI1","BEN_CI9",
               "BEN_CI5","BEN_CI6","BEN_CI12","BEN_CI8","BEN_CI2","BEN_CI4",
               "BEN_CI14","BEN_CI11","BEN_CI10","BEN_CI13","SUM1","SUM9","SUM13",
               "SUM8","SUM6","SUM7","SUM14","SUM2","SUM3","SUM5","SUM4",
               "AMU_ZOOK2","PAR2","UNC1","PAR1","BEN_ZOOK1","LEO1","MAL14","MAL3",
               "MAL4","MAL9","MAL6","MAL5","MAL7","MAL10","MAL13","MAL2","MAL1",
               "MAL26","MAL12","MAL15","MAL11"]
  publish_directory = "/zstor/pcg/2016-tiger-wgs/mapping/felCat9"
  output_prefix = 'felCat9'
  optical_duplicate_pixel_distance = 2500
  genome_fasta  = '/zstor/pcg/2016-tiger-wgs/mapping/felCat9/GCF_000181335.3_Felis_catus_9.0_genomic.fna.gz'
}


