singularity.enabled = true

process {
  executor = 'slurm'
  container = 'zstor/containers/singularity/align-to-reference.img'
  queue = 'normal'
//  beforeScript = 'module load singularity'
}

params {
  query = "query_fastas.tsv"
  minseqlen = 0
  ref_genome  = '/zstor/pcg/2016-awd/repeat_masking/sis2-161031-pseudohap.fasta.masked.masked'
  lastdb_options = '-cR11 -uNEAR'
  lastal_options = '-m50 -E0.05'
}
