singularity.enabled = true
process {
  executor = 'slurm'
  container = '/zstor/containers/singularity/biobase.img'
  queue = 'normal,control'
}

params {
//  input_vcfs = ["/zstor/pcg/2016-tiger-wgs/vcfs/unfiltered/felCat9-180629-s10.unfiltered.snps.indels.vcf.gz"]
  input_vcfs = ["/scratch/PI/dpetrov/2016-tiger-wgs/vcfs/unfiltered/panPar-180709-s10.unfiltered.snps.indels.vcf.gz"]
  output_prefix = "panPar-180709-s10"
//  publish_dir = "/zstor/pcg/2016-tiger-wgs/vcfs"
  publish_dir = "/scratch/PI/dpetrov/2016-tiger-wgs/vcfs"
  subsample_ns = []
  filtersets = [
    ["minqual":30, "mingq":30, "maxa": 2, "hwe":0.0001, "maf":0,    "mac":0, 'filter_name':'q30-gq30-ma2-hwe'],
    ["minqual":30, "mingq":30, "maxa": 2, "hwe":0.0001, "maf":0.01, "mac":0, 'filter_name':'q30-gq30-ma2-hwe-maf01'],
    ["minqual":30, "mingq":30, "maxa": 2, "hwe":0.0001, "maf":0,    "mac":3, 'filter_name':'q30-gq30-ma2-hwe-mac3'],
    ["minqual":30, "mingq":30, "maxa": 2, "hwe":0.0001, "maf":0.01, "mac":3, 'filter_name':'q30-gq30-ma2-hwe-maf01-mac3']
  ]
  excludesamples = []
}
