singularity.enabled = true

process {
  beforeScript = 'module load system singularity java'
  executor = 'slurm'
  container = '/scratch/PI/dpetrov/containers/singularity/freebayes.img'
  queue = 'normal,hns,owners'
}

executor {
    name = 'slurm'
    pollInterval = '30 sec'
}

params {
  use_vcf               = false
  pipeline_name         = 'felCat9-180709-s66'
  freebayes_options     = '--use-best-n-alleles 5'
  regionTasksFreebayes  = 'regions.txt'
  samples_file          = 'samples.txt'
  bams_dir              = '/scratch/PI/dpetrov/2016-tiger-wgs/mapping/felCat9-markduplicates-bams'
  output_prefix         = 'felCat9-180709-s66'
  genome                = '/scratch/PI/dpetrov/2016-tiger-wgs/reference/GCF_000181335.3_Felis_catus_9.0_genomic.fna'
}
