singularity.enabled = true

process {
  executor = 'slurm'
  container = '/zstor/containers/singularity/mapping.img'
  queue = 'normal,control'
}

executor {
    name = 'slurm'
    queueSize = 100
}

params {
  output_prefix        = 'run-190410'
  publish_directory    = "outputs"
  bam_files_path       = "/zstor/pcg/2019-nanopore-mpcr-tiger-test/run-190410/mapping-bcftools/outputs/bams"
  mapping_targets_bed  = '/zstor/pcg/2019-nanopore-mpcr-tiger-test/reference/s1s2_targets.bed'
}


