singularity.enabled = true

process {
  executor = 'slurm'
  container = '/zstor/containers/singularity/biobase.img'
  queue = 'normal,control'
}

params {
  pipeline_name = 'yassin-p-180604-0'
  fastq_directory = '../fastq-data' // raw fastq for qc
  publish_directory = '../' // output directory
}

