singularity.enabled = true

process {
  executor = 'slurm'
  container = '/scratch/PI/dpetrov/containers/singularity/align-to-reference.img'
  queue = 'owners,hns,dpetrov'
  beforeScript = 'module load singularity'
}

executor {
    name = 'slurm'
    queueSize = 100
}

params {
  pipeline_name = 'tfq-ben2'
  publish_directory = "/scratch/PI/dpetrov/2016-tiger-wgs/fastq-data/trimmed-fastqs"
  fastq_chunksize = 10000000 // Number of reads to split fastqs into for parallelized trimming and mapping
}
